<!doctype html>
<html>
<head>
  <title>A Game.</title>
</head>
<body>
  <form action="/madlib">
    <label> Choose your player: </label>
    <select name="player">
      <option value="ballonoicorn">balloonicorn</option>
      <option value="unicorn">unicorn</option>
     </select><br> 
     <label>Choose a color: </label>
      <input type="text" name="color" value="gold"><br>
     <label>Pick a noun: </label>
       <input type="radio" name="noun" value="ufo">UFO
       <input type="radio" name="noun" value="rocket">Rocket<br>
     <label>Pick an adjective: </label>
       <input type="checkbox" name="adjective" value="sparkly">sparkly
       <input type="checkbox" name="adjective" value="explosive">explosive
       <input type="checkbox" name="adjective" value="creepy">creepy<br>
    <label>Pick your favorite food: </label>
      <select name="food">
        <option value="donut">Donut</option>
        <option value="cupcake">Cupcake</option> 
        <option value="greek salad">Greek Salad</option>
        <option value="pasta">Pasta</option>
      </select><br>

    <label>Pick your favorite city: </label>
      <input type="radio" name="city" value="San Francisco">San Francisco
      <input type="radio" name="city" value="New York">New York City
      <input type="radio" name="city" value="LA">Los Angeles
      <input type="radio" name="city" value="Berlin">Berlin
      <br>
    <label>Pick an activity: </label>
      <input type="text" name="activity"><br>









     <input type="submit">

  </form>
</body>
</html>